<div class="container mat-elevation-z4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>What To Do If... You Crashed with Your Sample?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section>
          <p><strong>Discover What Does It Look Like and How To Avoid A Collision Next Time</strong></p>
          <h3>What Does It Look Like</h3>
          <p>
            In case of accidental collision between hardware components, e.g., hitting the SEM objective with the conductive sample, an electrical circuit is closed and the following actions are taken:
          </p>
          <ul>
            <li>All motorized movements are immediately stopped.</li>
            <li>A warning high-frequency beep starts sounding.</li>
            <li>The warning message appears on the screen.</li>
          </ul>
          <p>This safety mechanism is called <strong>Touch Alarm</strong>.</p>
        </section>
        <section>
          <h3>How To Avoid A Collision Next Time</h3>
          <p>To avoid a collision, do ALL of the following:</p>
          <ul>
            <li>Define dimensions of your sample in the Sample Exchange Wizard.</li>
            <li>Monitor all in-chamber movements using the Chamber View and be prepared to terminate the movement anytime using the Stop button in the Stage Control panel.</li>
          </ul>
          <p><strong>NOTICE:</strong> Touch Alarm does not work for non-conductive samples and nanomanipulators.</p>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  