<mat-drawer-container class="example-container">
  <mat-drawer
    mode="side"
    opened
    class="sidenav"
    [ngClass]="{
      default: getRole() !== 'engineer',
      engineer: getRole() === 'engineer'
    }"
    [opened]="drawerOpened"
  >
    <h2>Menu</h2>
    <b>{{ getName() }} - {{ getRole() | translate }}</b>
    <mat-nav-list>
      <ng-container *ngIf="getRole() === 'client' && showSidebar">
        <a mat-list-item routerLink="/client">{{
          "client.dashboard" | translate
        }}</a>
        <a mat-list-item routerLink="/client/create-request">{{
          "client.create_request" | translate
        }}</a>
      </ng-container>
      <ng-container *ngIf="getRole() === 'engineer' && showSidebar">
        <a mat-list-item routerLink="/engineer">{{
          "engineer.dashboard" | translate
        }}</a>
      </ng-container>
      <ng-container *ngIf="isAuthenticated() != ''">
        <a mat-list-item (click)="logout()">{{ "user.logout" | translate }}</a>
      </ng-container>
      <ng-container *ngIf="isAuthenticated() == ''">
        <a mat-list-item routerLink="/login">{{ "user.login" | translate }}</a>
      </ng-container>
      <app-language-selector></app-language-selector>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
