<div class="knowledge-base-container">
    <h1>{{ 'user.knowledge.base' | translate }}</h1>
    <div class="articles-container">
      <mat-card class="article-card">
        <mat-card-header>
          <mat-card-title>What To Do If... You Crashed with Your Sample?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Discover what it looks like and how to avoid a collision next time.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">{{ 'user.read.more' | translate }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  